@model Cours.MVC.Tuto3.Models.Data.Auteur


@using (Html.BeginForm("Ajouter", "Auteur", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>

        <div class="form-group">
            @Html.LabelFor(m => m.Nom)
            @Html.TextBoxFor(m => m.Nom, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Nom)
        </div>
                

        <div class="form-group">
            @Html.LabelFor(m => m.Prenom)
            @Html.TextBoxFor(m => m.Prenom, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Prenom)
        </div>

        <input type="submit" value="Ajouter" class="btn btn-default" />
    </fieldset>
}
