@model Cours.MVC.Tuto3.Models.ComparerViewModel


<div class="container">
    <section class="row">
        <div class="col-xs-8 col-sm-offset-2">
            <table class="table table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <td>@Model.NbIteration iter.</td>
                        <th class="text-right">Entity</th>
                        <th class="text-right">ADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Insertion</td>
                        <td class="text-right">@Model.EntityDalInsert</td>
                        <td class="text-right">@Model.AdoDalInsert</td>
                    </tr>

                    <tr>
                        <td>En liste</td>
                        <td class="text-right">@Model.EntityDalListe</td>
                        <td class="text-right">@Model.AdoDalListe</td>
                    </tr>

                    <tr>
                        <td>Parcours</td>
                        <td class="text-right">@Model.EntityDalParcours</td>
                        <td class="text-right">@Model.AdoDalParcours</td>
                    </tr>

                    <tr>
                        <td>Change</td>
                        <td class="text-right">@Model.EntityDalChange</td>
                        <td class="text-right">@Model.AdoDalChange</td>
                    </tr>

                    <tr>
                        <td>Supprime</td>
                        <td class="text-right">@Model.EntityDalSupprime</td>
                        <td class="text-right">@Model.AdoDalSupprime</td>
                    </tr>

                </tbody>

                <tfoot>
                    <tr>
                        <td>debut : @Model.Debut.ToShortTimeString()</td>
                        <td>fin : @Model.Fin.ToShortTimeString()</td>
                        <td>durée : @Model.Duree</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>

    <section class="row">
        <canvas id="myChart" height="300" width="600" class="col col-lg-10 col-sm-offset-2"></canvas>
    </section>


</div>

@section Head {
    <script type="text/javascript">
        function ToDoOnLoad() {
            var data = {
                labels: ["Insert", "Liste", "Parcours", "Change", "Supprime"],
                datasets: [
                    {
                        label: "Entity",
                        fillColor: "rgba(255,134,0,0.5)",
                        strokeColor: "rgba(255,134,0,0.8)",
                        highlightFill: "rgba(255,134,0,0.75)",
                        highlightStroke: "rgba(255,134,0,1)",
                        data: [
                            @Model.EntityDalInsert,
                            @Model.EntityDalListe,
                            @Model.EntityDalParcours,
                            @Model.EntityDalChange,
                            @Model.EntityDalSupprime]
                    },
                    {
                        label: "ADO",
                        fillColor: "rgba(206,239,0,0.5)",
                        strokeColor: "rgba(206,239,0,0.8)",
                        highlightFill: "rgba(206,239,0,0.75)",
                        highlightStroke: "rgba(206,239,0,1)",
                        data: [
                            @Model.AdoDalInsert,
                            @Model.AdoDalListe,
                            @Model.AdoDalParcours,
                            @Model.AdoDalChange,
                            @Model.AdoDalSupprime]
                    }
                ]
            };

            var cht = document.getElementById('myChart');
            var ctx = cht.getContext('2d');
            // Get context with jQuery - using jQuery's .get() method.
            //var ctx = $("#myChart").get(0).getContext("2d");

            // This will get the first returned node in the jQuery collection.
            var barChart = new Chart(ctx).Bar(data);

        }
    </script>
}
